.categoryPage{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    .mainContainer{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 180px;
        background: #ffffff;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        .goodsList{
            flex: 1;
            overflow: hidden;
            .views{
                height: 100%;
            }
        }
    }

    .noMore{
        text-align: center;
        font-size: 24px;
        color: #727272;
    }
}

