.slider{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 180px;
    background: #eeeeee;
    color: #333333;
    .menuList{
        width: 180px;
        height: 100%;
        .menu{
            text-align: center;
            min-height: 88px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active{
                color: #e1b621
            }
        }
    }
}